{#

This file is part of the Sonata package.

(c) Thomas Rabaix <thomas.rabaix@sonata-project.org>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'ApplicationSonataMediaBundle:CRUD:base_edit.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        button.btn.btn-sm.btn-default.pixlr-link {
            margin-bottom: 0;
        }
    </style>
    {% if object.providerName == 'sonata.media.provider.multipleupload'%}
        <link rel="stylesheet" href="//blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
        <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
        <link rel="stylesheet" href="https://blueimp.github.io/jQuery-File-Upload/css/jquery.fileupload.css">
        <link rel="stylesheet" href="https://blueimp.github.io/jQuery-File-Upload/css/jquery.fileupload-ui.css">
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if object.providerName == 'sonata.media.provider.multipleupload'%}    
    <script src="https://blueimp.github.io/jQuery-File-Upload/js/vendor/jquery.ui.widget.js"></script>
    <!-- The Templates plugin is included to render the upload/download listings -->
    <script src="//blueimp.github.io/JavaScript-Templates/js/tmpl.min.js"></script>
    <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
    <script src="//blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js"></script>
    <!-- The Canvas to Blob plugin is included for image resizing functionality -->
    <script src="//blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
    <!-- blueimp Gallery script -->
    <script src="//blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    <script src="https://blueimp.github.io/jQuery-File-Upload/js/jquery.iframe-transport.js"></script>
    <script src="https://blueimp.github.io/jQuery-File-Upload/js/jquery.fileupload.js"></script>
    <!-- The File Upload processing plugin -->
    <script src="https://blueimp.github.io/jQuery-File-Upload/js/jquery.fileupload-process.js"></script>
    <!-- The File Upload image preview & resize plugin -->
    <script src="//blueimp.github.io/jQuery-File-Upload/js/jquery.fileupload-image.js"></script>
    <!-- The File Upload audio preview plugin -->
    <script src="https://blueimp.github.io/jQuery-File-Upload/js/jquery.fileupload-audio.js"></script>
    <!-- The File Upload video preview plugin -->
    <script src="https://blueimp.github.io/jQuery-File-Upload/js/jquery.fileupload-video.js"></script>
    <!-- The File Upload validation plugin -->
    <script src="https://blueimp.github.io/jQuery-File-Upload/js/jquery.fileupload-validate.js"></script>
    <!-- The File Upload user interface plugin -->
    <script src="https://blueimp.github.io/jQuery-File-Upload/js/jquery.fileupload-ui.js"></script>
    <!-- The main application script -->
    
    <!-- The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9 -->
    <!--[if (gte IE 8)&(lt IE 10)]>
    <script src="assets/file-uploader/js/cors/jquery.xdr-transport.js"></script>
    <![endif]-->
        
    {% endif %}
{% endblock %}

{% block sonata_admin_content %}

    <div class="row">
        {% if object.id %}
            <div class="col-md-6">
                {% block sonata_media_show_reference %}
                    <div class="box box-primary">
                        <div class="box-header">
                            <h3 class="box-title">{{ 'title.media_preview'|trans({}, 'SonataMediaBundle') }}</h3>
                            {% if sonata_media.pixlr and sonata_media.pixlr.isEditable(object) %}
                                <div class="box-tools pull-right">
                                    <button class="btn btn-sm btn-default pixlr-link"
                                            data-href="{{ path('sonata_media_pixlr_open_editor', { 'id': object|sonata_urlsafeid }) }}"
                                            data-toggle="modal"
                                            data-target="#pixlr-modal"
                                            >
                                        <i class="fa fa-pencil-square-o"></i> {{ "label.edit_with_pixlr"|trans({}, "SonataMediaBundle") }}
                                    </button>
                                </div>
                            {% endif %}

                        </div>
                        <div class="box-body table-responsive">

                            <center> <!-- yeah, center is still awesome ;) -->
                                {% media object, 'reference' with {'width': null, 'height': null, 'class': 'img-responsive img-rounded'} %}
                            </center>

                            <table class="table">
                                <tr>
                                    <th>{{ 'label.size'|trans({}, 'SonataMediaBundle') }}</th>
                                    <td>
                                        {% if object.providerName != 'sonata.media.provider.audio'%}
                                            {{ object.width|number_format_decimal }}px x {{ object.height|number_format_decimal }}px
                                            {% if object.size > 0 %}({{ (object.size/1024/1024)|number_format_decimal }} MBs){% endif %}
                                        {% else %}
                                            {% if object.size > 0 %}{{ (object.size/1024/1024)|number_format_decimal }} MBs{% endif %}
                                        {% endif %}
                                    </td>
                                <tr>
                                <tr>
                                    <th>{{ 'label.content_type'|trans({}, 'SonataMediaBundle') }}</th>
                                    <td>{{ object.contenttype }}</td>
                                <tr>
                                <tr>
                                    <th>{{ 'label.cdn'|trans({}, 'SonataMediaBundle') }}</th>
                                    <td>
                                        {% if object.cdnisflushable %}
                                            {{ 'label.to_be_flushed'|trans({}, 'SonataMediaBundle') }}
                                        {% else %}
                                            {{ 'label.flushed_at'|trans({}, 'SonataMediaBundle') }}
                                            {{ object.cdnflushat|date }}
                                        {% endif %}
                                    </td>
                                <tr>
                                <tr>
                                    <th><a href="{{ path('sonata_media_download', {'id': object|sonata_urlsafeid }) }}">{{ 'label.protected_download_url'|trans({}, 'SonataMediaBundle') }}</a></th>
                                    <td>
                                        <input type="text" class="form-control" onClick="this.select();" readonly="readonly" value="{{ path('sonata_media_download', {'id': object|sonata_urlsafeid }) }}" />
                                        <span class="label label-warning">{{ 'label.protected_download_url_notice'|trans({}, 'SonataMediaBundle') }}</span> {{ sonata_media.pool.downloadSecurity(object).description|raw }}
                                    </td>
                                <tr>
                                <tr>
                                    <th>
                                        <a href="{% path object, 'reference' %}" target="_blank">reference</a>
                                    </th>
                                    <td>
                                        <input type="text" class="form-control" onClick="this.select();" readonly="readonly" value="{% path object, 'reference' %}" />
                                    </td>
                                </tr>

                                {% for name, format in sonata_media.pool.formatNamesByContext(object.context) %}
                                    <tr>
                                        <th>
                                            <a href="{% path object, name %}" target="_blank">{{ name }}</a>
                                        </th>
                                        <td>
                                            <input type="text" class="form-control" onClick="this.select();" readonly="readonly" value="{% path object, name %}" />
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>

                    </div>
                {% endblock sonata_media_show_reference %}
            </div>
        {% endif %}

        <div class="col-md-12">
            {# Renders the form #}
            {{ parent() }}
        </div>
    </div>

    {% if sonata_media.pixlr and sonata_media.pixlr.isEditable(object) %}
        <div class="modal fade" id="pixlr-modal" tabindex="-1" role="dialog" aria-labelledby="{{ "label.edit_with_pixlr"|trans({}, "SonataMediaBundle")}}" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">{{ "label.edit_with_pixlr"|trans({}, "SonataMediaBundle")}}</h4>
                    </div>
                    <div class="modal-body" id="pixlr-modal-body">
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            window.closeModal = function() {
                jQuery('#pixlr-modal').modal('hide');
            }

            jQuery('button.pixlr-link').on('click', function(e) {
                e.preventDefault();
                var url = jQuery(this).attr('data-href');
                jQuery("#pixlr-modal-body").html('<iframe width="100%" height="100%" frameborder="0" scrolling="no" allowtransparency="true" src="'+url+'"></iframe>');
            });

            Admin.setup_list_modal(jQuery('#pixlr-modal'));
        </script>
        
        
        
    {% endif %}
    {% if object.providerName == 'sonata.media.provider.multipleupload'%}
            
            <script type="text/javascript">
                $('form').attr('action',"//jquery-file-upload.appspot.com/");
                $('form').attr('id', 'fileupload');
                $(document).ready(function()
                {
                    
                    $('#fileupload').fileupload({});
                    // Initialize the jQuery File Upload widget:
                    
                    /*
                    * jQuery File Upload Plugin JS Example
                    * https://github.com/blueimp/jQuery-File-Upload
                    *
                    * Copyright 2010, Sebastian Tschan
                    * https://blueimp.net
                    *
                    * Licensed under the MIT license:
                    * http://www.opensource.org/licenses/MIT
                    */

                   /* global $, window */

                   $(function () {
                       'use strict';

                       // Initialize the jQuery File Upload widget:
                       $('#fileupload').fileupload({
                           // Uncomment the following to send cross-domain cookies:
                           //xhrFields: {withCredentials: true},
                           url: '/app_dev.php/admin/sonata/media/media/create?context=default&provider=sonata.media.provider.multipleupload'
                       });

                       // Enable iframe cross-domain access via redirect option:
                       $('#fileupload').fileupload(
                           'option',
                           'redirect',
                           window.location.href.replace(
                               /\/[^\/]*$/,
                               '/cors/result.html?%s'
                           )
                       );

                       if (window.location.hostname === 'multimedia.com') {
                           // Demo settings:
                           $('#fileupload').fileupload('option', {
                               url: '//jquery-file-upload.appspot.com/',
                               // Enable image resizing, except for Android and Opera,
                               // which actually support image resizing, but fail to
                               // send Blob objects via XHR requests:
                               disableImageResize: /Android(?!.*Chrome)|Opera/
                                   .test(window.navigator.userAgent),
                               maxFileSize: 999000,
                               acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i
                           });
                           // Upload server status check for browsers with CORS support:
                           if ($.support.cors) {
                               $.ajax({
                                   url: '//jquery-file-upload.appspot.com/',
                                   type: 'HEAD'
                               }).fail(function () {
                                   $('<div class="alert alert-danger"/>')
                                       .text('Upload server currently unavailable - ' +
                                               new Date())
                                       .appendTo('#fileupload');
                               });
                           }
                       } else {
                           // Load existing files:
                           $('#fileupload').addClass('fileupload-processing');
                           $.ajax({
                               // Uncomment the following to send cross-domain cookies:
                               //xhrFields: {withCredentials: true},
                               url: $('#fileupload').fileupload('option', 'url'),
                               dataType: 'json',
                               context: $('#fileupload')[0]
                           }).always(function () {
                               $(this).removeClass('fileupload-processing');
                           }).done(function (result) {
                               $(this).fileupload('option', 'done')
                                   .call(this, $.Event('done'), {result: result});
                           });
                       }

                   });
                });
            </script>
            <script>
            
            </script>
            
                <!-- The template to display files available for upload -->
                {% set epenJSTemplate = '{%' %}
                {% set closeJSTemplate = '%}' %}
                <script id="template-upload" type="text/x-tmpl">
                    {{epenJSTemplate}} for (var i=0, file; file=o.files[i]; i++) { {{closeJSTemplate}}
                        <tr class="template-upload fade">
                            <td>
                                <span class="preview"></span>
                            </td>
                            <td>
                                <p class="name">{{epenJSTemplate}}=file.name{{closeJSTemplate}}</p>
                                <strong class="error text-danger"></strong>
                            </td>
                            <td>
                                <p class="size">Processing...</p>
                                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
                            </td>
                            <td>
                                {{epenJSTemplate}} if (!i && !o.options.autoUpload) { {{closeJSTemplate}}
                                    <button class="btn btn-primary start" disabled>
                                        <i class="glyphicon glyphicon-upload"></i>
                                        <span>Start</span>
                                    </button>
                                {{epenJSTemplate}} } {{closeJSTemplate}}
                                {{epenJSTemplate}} if (!i) { {{closeJSTemplate}}
                                    <button class="btn btn-warning cancel">
                                        <i class="glyphicon glyphicon-ban-circle"></i>
                                        <span>Cancel</span>
                                    </button>
                                {{epenJSTemplate}} } {{closeJSTemplate}}
                            </td>
                        </tr>
                    {{epenJSTemplate}} } {{closeJSTemplate}}
                </script>

                <!-- The template to display files available for download -->
                <script id="template-download" type="text/x-tmpl">
                    {{epenJSTemplate}} for (var i=0, file; file=o.files[i]; i++) { {{closeJSTemplate}}
                        <tr class="template-download fade">
                            <td>
                                <span class="preview">
                                    {{epenJSTemplate}} if (file.thumbnailUrl) { {{closeJSTemplate}}
                                        <a href="{{epenJSTemplate}}=file.url{{closeJSTemplate}}" title="{{epenJSTemplate}}=file.name{{closeJSTemplate}}" download="{{epenJSTemplate}}=file.name{{closeJSTemplate}}" data-gallery><img src="{{epenJSTemplate}}=file.thumbnailUrl{{closeJSTemplate}}"></a>
                                    {{epenJSTemplate}} } {{closeJSTemplate}}
                                </span>
                            </td>
                            <td>
                                <p class="name">
                                    {{epenJSTemplate}} if (file.url) { {{closeJSTemplate}}
                                        <a href="{{epenJSTemplate}}=file.url{{closeJSTemplate}}" title="{{epenJSTemplate}}=file.name{{closeJSTemplate}}" download="{{epenJSTemplate}}=file.name{{closeJSTemplate}}" {{epenJSTemplate}}=file.thumbnailUrl?'data-gallery':''{{closeJSTemplate}}>{{epenJSTemplate}}=file.name{{closeJSTemplate}}</a>
                                    {{epenJSTemplate}} } else { {{closeJSTemplate}}
                                        <span>{{epenJSTemplate}}=file.name{{closeJSTemplate}}</span>
                                    {{epenJSTemplate}} } {{closeJSTemplate}}
                                </p>
                                {{epenJSTemplate}} if (file.error) { {{closeJSTemplate}}
                                    <div><span class="label label-danger">Error</span> {{epenJSTemplate}}=file.error{{closeJSTemplate}}</div>
                                {{epenJSTemplate}} } {{closeJSTemplate}}
                            </td>
                            <td>
                                <span class="size">{{epenJSTemplate}}=o.formatFileSize(file.size){{closeJSTemplate}}</span>
                            </td>
                            <td>
                                {{epenJSTemplate}} if (file.deleteUrl) { {{closeJSTemplate}}
                                    <button class="btn btn-danger delete" data-type="{{epenJSTemplate}}=file.deleteType{{closeJSTemplate}}" data-url="{{epenJSTemplate}}=file.deleteUrl{{closeJSTemplate}}"{{epenJSTemplate}} if (file.deleteWithCredentials) { {{closeJSTemplate}} data-xhr-fields='{"withCredentials":true}'{{epenJSTemplate}} } {{closeJSTemplate}}>
                                        <i class="glyphicon glyphicon-trash"></i>
                                        <span>Delete</span>
                                    </button>
                                    <input type="checkbox" name="delete" value="1" class="toggle">
                                {{epenJSTemplate}} } else { {{closeJSTemplate}}
                                    <button class="btn btn-warning cancel">
                                        <i class="glyphicon glyphicon-ban-circle"></i>
                                        <span>Cancel</span>
                                    </button>
                                {{epenJSTemplate}} } {{closeJSTemplate}}
                            </td>
                        </tr>
                    {{epenJSTemplate}} } {{closeJSTemplate}}
                </script>
            
        {% endif %}

{% endblock sonata_admin_content %}
